<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158677812205-e7cualnf43r7mldp0abu91uqpr9plubo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158677812205-e7cualnf43r7mldp0abu91uqpr9plubo</string>
	<key>API_KEY</key>
	<string>AIzaSyCKST9PwPuxR4r6RzYlN_JM4OsuOVDJ7w0</string>
	<key>GCM_SENDER_ID</key>
	<string>158677812205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>fir-learning-app-cc991</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learning-app-cc991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158677812205:ios:42288e45ea7013c1db1de4</string>
</dict>
</plist>